#include <windows.h>
#include "resource.h"

LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US

IDR_STATUS_MENU MENU
{
  POPUP "Status"
  {
    MENUITEM "Connect", ID_STATUS_CONNECT
    MENUITEM "Disconnect", ID_STATUS_DISCONNECT
    MENUITEM SEPARATOR
    MENUITEM "Show Orderbook", ID_MENU_SHOW_ORDERBOOK
    MENUITEM SEPARATOR
    MENUITEM "Configure...", ID_STATUS_CONFIGURE
  }
}

// ---- Dialog untuk Configure Plugin (Retrieve Symbols)
IDD_CONFIGURE_PLUGIN DIALOGEX 0, 0, 287, 131
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Valkyrie Datafeed Configuration"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
  EDITTEXT        IDC_HOST_EDIT,75,7,123,14,ES_AUTOHSCROLL
  EDITTEXT        IDC_SOCKET_URL_EDIT,75,26,123,14,ES_AUTOHSCROLL
  EDITTEXT        IDC_USERNAME_EDIT,120,46,78,14,ES_AUTOHSCROLL | ES_NUMBER
  LTEXT           "Websocket:",-1,8,28,39,8
  LTEXT           "User ID",-1,8,50,25,8
  LTEXT           "API Server:",-1,8,9,38,8
  DEFPUSHBUTTON   "Save",IDOK,218,7,54,14
  PUSHBUTTON      "Close",IDCANCEL,218,27,54,14
  GROUPBOX        "Retrieve Symbols",-1,7,74,273,40
  PUSHBUTTON      "Retrieve",IDC_RETRIEVE_BUTTON,12,87,81,16
  LTEXT           "Ready to fetch...",IDC_STATUS_SYMBOL,103,88,169,14,0,WS_EX_STATICEDGE

END

// ---- Version Information
VS_VERSION_INFO VERSIONINFO
 FILEVERSION    1,0,0,1  // Major, minor, patch, build
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK  0x3fL    // Biasanya 0x3fL (VS_FFI_FILEFLAGSMASK)
#ifdef _DEBUG
 FILEFLAGS      0x1L     // VS_FF_DEBUG
#else
 FILEFLAGS      0x0L     // Release build
#endif
 FILEOS         0x40004L // VOS_NT_WINDOWS32 (wajib)
 FILETYPE       0x2L     // VFT_DLL (wajib)
 FILESUBTYPE    0x0L     // VFT2_UNKNOWN (biasanya 0)
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        // Block bahasa US English, code page Windows ANSI (1252)
        // 0409 = US English, 04E4 = 1252 (ANSI Latin 1)
        BLOCK "040904E4" 
        BEGIN
            VALUE "CompanyName",      "Dhani\0" 
            VALUE "FileDescription",  "Amibroker Plugin for IDX Market\0" 
            VALUE "FileVersion",      "1.0.0.1\0" 
            VALUE "InternalName",     "Valkyrie.dll\0"
            VALUE "LegalCopyright",   "Copyright (C) 2025 Dhani\0"
            VALUE "OriginalFilename", "Valkyrie.dll\0"
            VALUE "ProductName",      "Valkyrie Datafeed\0"
            VALUE "ProductVersion",   "1.0.0.1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        // Info translasi (cocokkan dengan block StringFileInfo)
        VALUE "Translation", 0x409, 1252 
    END
END

// ---- Orderbook Dialog
IDD_ORDERBOOK_DIALOG DIALOGEX 0, 0, 320, 200
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_TOPMOST  // WS_EX_TOPMOST -> Always On Top!
CAPTION "Orderbook"
FONT 8, "Arial", 700, 0, 0x1
BEGIN
  LTEXT           "Symbol",IDC_STATIC_SYMBOL,7,7,50,12,SS_CENTERIMAGE
  CONTROL         "",IDC_LIST_BID,"SysListView32",LVS_REPORT | LVS_ALIGNLEFT | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP,7,25,150,168
  CONTROL         "",IDC_LIST_OFFER,"SysListView32",LVS_REPORT | LVS_ALIGNLEFT | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP,163,25,150,168
END

